@charset "UTF-8";

.imagemCentralizada {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 150px;
}

.divTopo {
	padding-bottom: 5px;
}

.divCabecalho {
	padding-bottom: 10px;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 90%;
}

.imagemCentro{
	position: absolute;
	width: 5%;
	
	border-style: outset;
	border-color: rgba(255,0,0,.5);
	border-radius: 15px;
	left: 94%;
	top: 0%;
}

.rodape{
	text-align: center;
	width: 100%;
	position:fixed;
	bottom:0px;
	left:0px;
}

.centralizaColuna{
	text-align: center;
}

.centralizaImagem{
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}